[run]

omit =
    **/src/archivematicaCommon/lib/externals/*
    **/migrations/*
    **/management/commands/*
    **/settings/*
    **/tests/*
    **/wsgi.py
    **/manage.py

source =
    **/src/MCPClient/lib/
    **/src/MCPClient/lib/clientScripts/

branch = True
