[run]

omit =
    **/worker/externals/*
    **/migrations/*
    **/management/commands/*
    **/settings/*
    **/tests/*
    **/wsgi.py
    **/manage.py

source =
    **/worker/worker/

branch = True
