# Ignore everything
**

# Include
!/hack/osdeps.py
!/src/**
!/pytest.ini
!/requirements*
!/tox.ini
!/LICENSE
!/COPYRIGHT
!/TRADEMARK

# Include
!/hack/ccp/cmd
!/hack/ccp/internal
!/hack/ccp/go.mod
!/hack/ccp/go.sum
!/hack/ccp/main.go
!/hack/ccp/web

# Exclude
**/*~
**/*.log
**/node_modules
**/Thumbs.db
